@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Cabin', sans-serif;
    background-color:slategrey;
}

#main {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.basic-format-box {
    border-radius: 25px;
    background-color:azure;
    padding: 20px;
    border: 2px solid grey;
    margin-top: 10px;
}

.game-select-button {
    padding: 10px;
    margin: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px solid rgb(49, 49, 49);
    width: 300px;
    border-radius: 25px;
    color: beige;
    font-weight: 700;
    font-size: 30px;
}

.menu-input {
    padding: 10px;
    margin: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px solid rgb(49, 49, 49);
    width: 300px;
    border-radius: 25px;
    display: inline-block;
}

.menu-input p {
    font-weight: 700;
    line-height: 48px;
    /* text-align: left; */
}

/* #return-button {
    padding: 10px;
    margin: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px solid rgb(102, 102, 102);
    width: 300px;
    border-radius: 25px;
    color: rgb(59, 59, 59);
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(175, 200, 224);
} */

.game-select-button {
    padding: 10px;
    margin: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px solid rgb(102, 102, 102);
    width: 300px;
    border-radius: 25px;
    color: rgb(59, 59, 59);
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(175, 200, 224);
}

.game-select-box {
    display: inline-block;  
}

/* .game-select-button {
    display: inline-block;  
} */

#single-player-button {
    background-color: rgb(255, 67, 67);  
}

#multi-player-button {
    background-color: rgb(67, 67, 255);
}

.menu {
    border-radius: 25px;
    background-color:azure;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
}

#game {
    border-radius: 25px;
    background-color:azure;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
}

.score-box {
    display: inline-block;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px solid grey;
    width: 300px;
    border-radius: 25px;
}

#box-left {
    margin-right: 15px;
}

#box-right {
    margin-left: 15px;
}

.game-box {
    display: inline-block;
    margin: 30px;
    border: 2px solid grey;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    /* background-color:lightgoldenrodyellow; */
    line-height: 120px;
}

.game-button {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    /* opacity: .5; */
    font-family: 'Londrina Outline', 'Courier New', Courier, monospace;
    font-size: 130px;
    line-height: 50px;
    background-color: #fafad2;
    color: #fafad2;
    font-weight:900;   
}

.player1 {
    color: #ff0000;
}

.player2 {
    color: #0000ff;
}


/* <<<<<<<<<<<<<<<<<I think everything below this can be deleted??>>>>>>>>>>>>>>>>>>> */
/* .naught {
    background-color: #ff0000;
}

.cross {
    background-color: #0000ff;
} */

/* .game-box p {
    line-height: 120px;
} */